{% extends 'base.html' %}
{% block title %} Insumos - AgroDJ {% endblock %}
{% block content %}

<div class="container bg-light rounded p-4">
    <h1 class="mb-4" style="font-weight: bold;">Gerenciamento do Setor de Insumos</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-primary">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                    <th>CPF</th>
                    <th>Área</th>
                    <th>Salário</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                {% if funcionario.area_interesse == "i" %}
                <tr>
                    <td>{{ funcionario.id }}</td>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.data_nascimento|date:"d/m/Y" }}</td>
                    <td>{{ funcionario.cpf }}</td>
                    <td>{{ funcionario.get_area_interesse_display }}</td>
                    <td>{{ funcionario.salario }}</td>
                    <td>
                        <a href="{% url 'editar' funcionario.id %}" class="btn btn-sm btn-primary">Editar</a>
                        <a href="{% url 'delete' funcionario.id %}" class="btn btn-sm btn-danger">Deletar</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
